<% provide(:title, 'About') %>

<header>
  <div class="header-logo">
    <a href="/">SOKAGU</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">SOKAGUとは</a>  
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>SOKAGUとは</h2>
  <p>
    創大生のためのサービスです。
    卒業などでいらなくなった家具・家電を必要としている創大生に届けるとができます。
  </p>
</div>
  