<% provide(:title, 'Top') %>

<header>
  <div class="header-logo">
    <a href="/">SOKAGU</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">SOKAGUとは</a>
    </li>
  </ul>
</header>
<div class="main top-main">
  <div class="top-message">
    <h2>SOKAGU</h2>
    <p>創大生の創大生による創大生のためのアプリ</p>
  </div>
</div>
  
